
#buttonunit:active{
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border-bottom: none;
    box-shadow: 0px 0px 0px #504646;
    /* position: fixed; */
    /* position: absolute; */
    margin: 5px auto auto auto;

}


#buttonunit:focus{
border: none;
outline: none;
-webkit-tap-highlight-color: transparent;
}



#buttonunit{
    background-color: #272323;
    box-shadow: 0px 5px 0px #504646;
    transition: all ease 100ms;

    color: "#D9D9D9";
}

#buttonunit:disabled{
    background-color: #201d1d;
    color: rgb(122, 108, 108);
}