#mapContainer{
    width: 100vw;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    color: #272323;
}



#MapDock{
    background-color: #E0DFDF;
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease-in-out;
    padding: 0px;
    padding-left: 15px;

}

#mapDockButtonContainer{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    justify-content: flex-end;
    z-index:4;
}

#mapDockLocationsContainer{
    width: 100%;
    height: 70%;

}


#buttonHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}


#resultContainer{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}


#resultsHeading{
    font-size: 2.7em;
    color: #272323;
    font-weight: 600;
    margin-bottom: 40px;
}

#rankingHeading{
    font-size: 1.2em;
    color: #272323;
    font-weight: 600;
    line-height: 0px;
    width: 100%;
    margin-bottom: 20px;
}

#rankingHolder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resultsChips{
    width: 400px;
    padding: "0px 5px 0px 5px";
    border-radius: "5px";
    font-size: 1.3em;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 15px;
    border: 2px solid #BCB8B8;
    box-shadow: 0px 3px 0px #756767;
    /* check this for deformation after overflow */
    box-sizing:border-box;
    position: relative;
    font-weight: 800;
    padding-left: 60px;
}

#rankingIndex{
    font-family: "modak";
    position: absolute;
    left: 0px;
    bottom: 16px;
    font-size: 4em;
    line-height: 0px;
    rotate: 10deg;
    color: #756767;
}

#rankingScore{
    font-family: "modak";
    position: absolute;
    right: 0px;
    bottom: 16px;
    font-size: 2em;
    line-height: 0px;
    rotate: 0deg;
    color: #3f3a3a52;
}

#rankingImage{
    height:85%;
    width: auto;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 8px;

}

#rankingImage>img{
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

#rankingClass{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 0.8em;
    rotate: 0deg;
    color: #3f3a3abd;
    border: 1px solid grey;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}


.plotContainers{
    height: auto;
    width: 90%;
    background-color: #d1cfcf;
    border: 3px solid darkgrey;
    display: flex;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(312.25deg, #d1cfcf 0%,rgba(255, 255, 255, 0.301) 66.19%);
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all 1s ease;
}   

.enlarged{
    overflow-y:scroll;
    height: 90vh;
    position: absolute;
    top: 0px;
    left: 20px;
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.836) 0px 52px 140px 4px;
}


#setRadiusButton{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

#alertRadiusSaved{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 3;
}