@font-face {
  font-family: "SF-Pro";
  src: url('./assets/fonts/SF-Pro.ttf');
}

#root {
  background-color: #E0DFDF;
  height: 100vh;
  width: 100vw;
  font-family: "SF-Pro";
}

.isLoading{
  height: 100vh;
  width: 100vw;
  z-index: 3;
  background-color: rgba(190, 190, 190, 0.747);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.isLoading p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 4px;
  background-color: lightgray;
  font-family: "SF-Pro";
  height: 100px;
  width: 200px;
  font-size: 1.5em;
  color: black;
  border: solid rgba(3, 102, 214, 0.3) 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
